<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            color: #555;
            width:100%;
            background-color: #eaf0f6;
            padding: 2rem;
        }

        .container {
            max-width: 450px; 
            padding: 2rem;
            background-color: white;
            margin: 0 auto;
        }

        .title {
            width: 100%; 
            text-align: center;
        }

        .forward_link {
            padding: 3rem 0rem; 
            text-align: center;
            width: 100%;
        }

        .footer {
            width: 100%; 
            text-align: center;
            padding: 2rem;
        }

        .link {
            color:#148F77
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">Kryptohub</h1>
        <span>Hello</span>
        <p>You have been sent  an invitation to join the team {{teamName}} as {{role}} on <a href="kryptohub.co" class="link">kryptohub.co</a>. To confirm,  click on the link below within 
            7 days or copy and paste the URL into your browser</p>
        <div class="forward_link">
            <a href="{{joinTeamLink}}" style="color:#148F77">Join Your Team</a>
        </div>
        <span>Best, <br/>The Kryptohub team</span>
        <hr>
        <div class="footer">
            <div>
                <span>For questions, reach out to <u class="link">{{contact}}</u></span>
            </div>
            <span>Kryptohub, Viet Nam</span>
        </div>
    </div>
</body>
</html>